# Database Credentials
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=hackathon_db

# Qdrant Vector DB
QDRANT_HOST=localhost
QDRANT_PORT=6333

# API Configurations
NEXT_PUBLIC_API_URL=https://lw53f94s-8000.inc1.devtunnels.ms